@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: inherit;
  font-family: "Noto Serif KR", serif;
  box-sizing: border-box;
}
img {
  display: block;
}
.inner {
  padding: 0 5%;
  height: 100vh;
}

/* main - S */
.mySwiper {
  position: fixed;
  width: 100%;
  height: 100vh;
}

main .inner {
  height: 100%;
  padding: 0 2vw;
}
main {
  background-color: #f4f3f3;
}
section {
  height: 100vh;
  padding: 10vh 0 2vh 0;
  overflow: hidden;
}
section .sec-title {
  font-size: 6vmin;
  margin-bottom: 6vh;
}
/* main sec1 - e */
.home {
  padding-top: 35vh;
  padding-bottom: 10vh;
  height: 100vh;
  color: #fff;
  background-image: url(../img/bg3.jpg);
  background-position: center;
  background-size: cover;
}
.home .inner h2 {
  margin-bottom: 20px;
  font-size: 15vmin;
  font-weight: 500;
  text-shadow: -2px -2px 0 #000;
}
.home .inner > p {
  font-size: 4vmin;
  color: #ccc;
}
.home .inner .home-more {
  margin-top: 15vh;
  font-size: 2.5vmin;
  color: #ccc;
}
/* main sec1 - e */
/* main sec2 - s   */
.about .inner .about-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about .about-content > figure img {
  display: block;
  margin-right: 5vw;
  width: 35vmin;
}
.about-txt > div {
  width: 60vw;
  margin-bottom: 4vh;
  padding: 1.5vh 3vw;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.about-txt-me .name {
  font-size: 2vw;
}
.about-txt-me p {
  font-size: 1.6vw;
  margin-bottom: 1.4vh;
}
.about-txt-certificate p {
  font-size: 1.6vw;
}
.about-txt-certificate p:first-child {
  margin-bottom: 10px;
}
.about-txt-certificate span {
  margin-right: 7px;
}
.about-txt-skils .imgs {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.about-txt-skils .imgs img {
  width: 3.5vw;
  height: 3.5vw;
}
.about-txt-skils strong {
  font-size: 1.4vw;
}
.about-txt-skils span {
  font-size: 1.3vw;
}
/*  */
.project-infor {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project-infor a {
  margin: 0 20px;
}
.project img {
  width: 35vw;
}
.project-infor-txt {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 70vw;
  height: 60vmin;
  padding: 20px;
  border-radius: 40px;
  border: 4px solid rgba(149, 110, 250, 0.2);
}
.project-infor-txt strong {
  font-size: 2vw;
}
.project-infor-txt .bad {
  margin-bottom: 1.3vh;
}
.project-infor-txt p {
  margin-top: 1.8vh;
  font-size: 1.4vw;
}
.project-infor-txt .more {
  font-size: 1.2vw;
  color: #555;
}
.contact .contact-txt {
  width: 600px;
  height: 60vmin;
  margin: 0 auto;
  padding: 30px;
  border-radius: 40px;
  border: 4px solid rgba(149, 110, 250, 0.2);
}
.contact .contact-txt div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.contact .contact-txt div p {
  font-size: 20px;
}

/*  */
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-vertical {
  position: fixed;
  right: 1vmin;
  top: 20px;
  display: flex;
}
.swiper-pagination-bullet {
  width: 17vmin;
  height: 50px;
  border-radius: unset;
  text-align: center;
  line-height: 50px;
  font-size: 2vmin;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  font-size: 3vmin;
  font-weight: 700;
  color: #000;
}
@media screen and (max-width: 740px) {
  section .sec-title {
    font-size: 4vmin;
    margin-bottom: 3vh;
  }
  .about .inner .about-content {
    flex-direction: column;
  }
  .about .about-content > figure img {
    width: 15vw;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .about-txt > div {
    width: 80vw;
    margin-bottom: 2vh;
    padding: 1vh 3vw;
  }
  .swiper-pagination-bullet {
    height: 40px;
    line-height: 40px;
  }
  .project img {
    width: 35vw;
    margin-bottom: 10px;
  }
  .project-infor {
    flex-direction: column;
  }
  .project-infor-txt {
    width: 80vw;
    height: 35vh;
    padding: 30px;
    border-radius: 40px;
    border: 2px solid rgba(149, 110, 250, 0.2);
  }
  .contact .contact-txt {
    width: 90vw;
    height: 50vh;
    margin: 0 auto;
    padding: 30px;
    border-radius: 40px;
    border: 2px solid rgba(149, 110, 250, 0.2);
  }
  .contact .contact-txt div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  .contact .contact-txt div p {
    font-size: 3vw;
  }
}
